/Java/Laboratorios/MoonWeight/nbproject/private/
/Java/Laboratorios/MoonWeight/build/
/Java/Laboratorios/Chapter1/nbproject/private/
/Java/Laboratorios/Chapter1/build/
/Java/JavaBook/Chapter3/nbproject/private/
/Java/JavaBook/Chapter3/build/
/DataStructures/bubbleSort/nbproject/private/
/DataStructures/bubbleSort/build/
/DataStructures/SelectionSort/nbproject/private/
/DataStructures/SelectionSort/build/
/DataStructures/InsertionSort/nbproject/private/
/DataStructures/InsertionSort/build/
/DataStructures/ShellSort/nbproject/private/
/DataStructures/ShellSort/build/
/DataStructures/Recursion/nbproject/private/
/DataStructures/Chapter5.3/nbproject/private/
/Java/JavaBook/Chapter5.3/nbproject/private/
/DataStructures/Chapter5.3/build/